<!-- <div class="container">
    <div class = "flex">
        <div class="first child">
            <div class="github-logo-div">
                <img src="https://res.cloudinary.com/hammond/image/upload/v1623058889/astronaut.png/github_czj5eh.png" alt="github-logo"  class="github-logo">
            </div>
            
            <span class="span-items">Why github? </span>
            <span class="span-items">Team</span>
            <span class="span-items">Entreprise</span>
            <span class="span-items">Explore</span>
            <span class="span-items">Marketing</span>
            <span class="span-items">Pricing</span>
        </div>
       <div class="second-child">
        <input class="search-input-field" placeholder = 'Search GibHub'/>
        <button class="signin-button" (click)="toLogin()">Sign in</button>
        <button class="signup-button" (click)="toSignup()">Sign up</button> 
      </div>
     </div>
    <div class="body-content">
        <div class="body-content-first">
        <h1 class="body-h1-tag">Where the world <br>
        builds software
        </h1>
        <h2 class="paragraph1">Millions of developers and companies build, ship, and maintain their software on GitHub—the largest and <br>most advanced development platform in the world.</h2>
        
        <div>
            <input class="Email-sign" placeholder = 'Email address';/>  
            <button class="Signup-Github">Signup GitHub</button>
        </div>
        
         <div>
             <div class="underline">
            <hr class="hr-tag" />
        </div>
              <div class="single-child">
           
            <div>
                <h2 class="down space">65+ million</h2>
                <p class="first paragraph">Developers</p>
            </div>
            <div>
                <h2 class="second space">3+ million</h2>
                <p class="second paragraph">Organizations</p>
            </div>
            <div>
                <h2 class="third space">200+ million</h2>
                <p class="third paragraph">Repositories</p>
            </div>
            <div>
                <h2 class="forth space">72%</h2>
                <p class="forth paragraph">Fortune 50</p>
            </div>
          </div> 
         </div>  
         
       
    </div>
      <div class="body-content-second">
        <img src="https://github.githubassets.com/images/modules/site/home/globe-700.jpg" class="globe">
        <img src="https://res.cloudinary.com/hammond/image/upload/v1623058764/astronaut.png/astronaut_qcxwcy.png" alt="astronaut" class="astronaut">
       </div>
       
</div>    

</div> -->

<div class="nav">
    <div class="first-child">

        <img src="https://img.icons8.com/glyph-neue/48/ffffff/github.png"/>
        <span class="span-items">Why github? </span>
        <span class="span-items">Team</span>
        <span class="span-items">Entreprise</span>
        <span class="span-items">Explore</span>
        <span class="span-items">Marketing</span>
        <span class="span-items">Pricing</span>
    </div>
    <div class="second-child">
        <button class="signin-button" (click)="toLogin()">Sign in</button>
        <button class="signup-button" (click)="toSignup()">Sign up</button> 
      </div>
</div>
<div class="body">
    <div class="body-content-first">
        <h2 class="body-h1-tag">Where the world <br>
        builds software
        </h2>
        <h3 class="paragraph1">Millions of developers and companies build, ship, and maintain their software on GitHub—the largest and <br>most advanced development platform in the world.</h3>
        
        <div>
</div>