.nav{
    padding: 20px;
    background-color: #f6f8fa;
    border: 1px solid rgb(155, 155, 155) ;
}
.top{
    margin-bottom: 20px;
}
.left img{
    height: 30px;
    margin-right: 5px;
}
.left span{
    font-size: large;
}
.left span:hover{
    text-decoration: underline;
}

.box{
    margin-left: 10px;
    height: 20px;
    width: 50px;
    padding-left: 8px;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 12px;  
}
.right button{
    margin-right: 10px;
    background-color: #f6f8fa;
    border: 1px solid rgb(155, 155, 155) ;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.right button:hover{
    background-color:#e8e8eb;
}
.bottom button{
    margin-right: 10px;
    background-color:rgba(255, 255, 255, 0);
    border: none;
    border-radius: 5px;
}
.bottom button:hover{
    background-color:#e8e8eb;
}
.main{
    display: grid;
    grid-template-columns: 70% 25%;
    padding: 20px;
}
.main button{
    background-color: #f6f8fa;
    border: 1px solid rgb(155, 155, 155) ;
    border-radius: 5px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.main button:hover{
    background-color: #e8e8eb;
}
.left-center{
    display: flex;
    flex-direction: row;
    font-size: 16px;
}
.left-center span{
    margin-right: 10px;
}
.center{
    border: 2px solid #e8e8eb;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 7px;
}
.head{
    display: flex;
    justify-content: space-between;
    background-color: #f6f8fa;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
}
.head img{
    height: 25px;
    border-radius: 50%;
    border: 1px solid ;
    margin-right: 10px;
}
.directory{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display:flex ;
    justify-content: space-between;
}
.directory:hover{
    background-color: #f6f8fa;
}
.files{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    display:flex ;
    justify-content: space-between;
}
.files:hover{
    background-color: #f6f8fa;
}
.folder{
    display: flex;
    flex-direction: row;
}
.folder img{
    height: 25px;
    margin-right: 5px;
}
.folder p:hover{
    color: blue;
    cursor: pointer;
}